<html>
    <head>
        <title> Run ejs</title>
    </head>
    <body>
            <h1> This is The Examples of Ejs</h1>

            <h4> Saif Deatisl </h4>

            <% for (var i =0 ; i<Saif.length;i++){ %>
             <li><%=Saif[i] %> </li> 
                                 <% } %>


             

    </body>
</html>